body{
	margin: 0px;
	height: 100vh;
	background:url("images/bg.jpg");
	background-size: cover;
	font-family: 'Lato', sans-serif;


}


img {
	height: 50px;
	padding-left: 15px;
}

nav{
	padding: 4px;
	color: black;
	background: white;
}
.head{
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 1.7em;
}
button{

	color: white;
	background:#dfba1b;
	border:hidden;
	font-size: 50px;
	width: 400px;
	height: 80px;
	cursor: pointer;
}
h2{
	display: flex;
	justify-content: flex-start;
	color: white;
	text-align: center;
	padding: 30px;
	font-size: 2em;

}
section{
	text-align: center;
}

#para{
	color: white;
	font-size: 25px;

}

.img{
	background-size: contain;
	background-repeat: no-repeat;
	height: 350px;
	width: 500px;

}

.main{
	display: flex;
	justify-content: center;
}

